.global-container{
    max-width: 1920px;
    margin: 0 auto;
}

video{
    object-fit: cover;
}

.img-projects{    
    width: 100%; /* You can set the dimensions to whatever you want */
    height: 270px;
    object-fit: cover;
    
}

.parallax{
    background-image: url("./ressources/parallax.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}